<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        textarea {
         width: 50%; /* Ширина поля в процентах */
         height: 300px; /* Высота поля в пикселах */
         resize: none; /* Запрещаем изменять размер */
        }
       </style>
</head>
<body>
    <div class="vice_verse">
        <h1>Vice Versa</h1>
        <form action="{% url 'reverse' %}">
            <textarea name="textarea"></textarea>
            <br>
            <input  type="submit" value="reverse">
        </form>
            
    </div>

</body>
</html>